<div class="jumbotron">
    <div class="container">
        <h1>Thanks, for signing up!</h1>
        <p>We have an email headed your way. Click the link in the email to create your account.</p>
        <p><a class="btn btn-primary btn-lg" href="/">Home Page</a></p>
    </div>
</div>
